---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Heading, Link, Notification } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="提交成功">
  <PageHeader title="已收到" subtitle="感谢你的留言，我们会尽快与您联系。" bgType="gradient" />
  <section class="container my-16">
    <div class="space-content">
      <Notification type="info">
        <Icon aria-hidden="true" name="lucide:info" size={24} />
        <p>你的信息已提交成功。为保护隐私，本站不会在页面中展示任何提交内容。</p>
      </Notification>
      <Link href="/contact" isButton type="primary" animateOnHover animation="boop" pulse>
        <Icon aria-hidden="true" name="lucide:mail" size={24} />
        再提交一条咨询
      </Link>
    </div>
  </section>
</DefaultLayout>
